{
    "printWidth": 300,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "tailwindStylesheet": "./resources/css/app.css",
    "plugins": [
        "prettier-plugin-blade",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade",
                "printWidth": 300,
                "bracketSameLine": true
            }
        }
    ]
}
