@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import 'highcharts/css/highcharts.css';
@import '@glidejs/glide/dist/css/glide.core.css';
@import '@glidejs/glide/dist/css/glide.theme.css';


@plugin '@tailwindcss/forms';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

/*@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));*/

@theme {
    --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-primary: #1a2857;
    --color-secondary: #4579bd;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    [x-cloak] {
        display: none;
    }
}

@layer components {
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply inline-block w-full rounded-xs border border-gray-300 p-2 text-sm text-gray-600 focus:ring-0 dark:text-gray-200;
    }

    [type='radio']:focus,
    [type='checkbox']:focus {
        @apply rounded-xs border-gray-300 text-primary focus:ring-0 dark:text-gray-200;
    }

    [type='radio']:checked,
    [type='checkbox']:checked {
        @apply rounded-xs border-gray-300 text-primary focus:ring-0 dark:text-gray-200;
    }

    label > span {
        @apply font-medium text-gray-600 dark:text-gray-200;
    }

    input:disabled,
    select:disabled {
        @apply bg-gray-200;
    }

    a {
        @apply text-primary outline-hidden hover:font-semibold hover:text-secondary dark:text-zinc-100 dark:hover:text-white;
    }

    ::-webkit-scrollbar {
        @apply w-2;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply rounded-md bg-gray-400;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply rounded-md bg-gray-700 hover:bg-gray-600;
    }

    .flatpickr-current-month {
        @apply p-0;
    }
}

@theme {
    --color-accent: var(--color-blue-950);
    --color-accent-content: var(--color-blue-800);
    --color-accent-foreground: var(--color-white);
}
@layer theme {
    .dark {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-400);
        --color-accent-foreground: var(--color-white);
    }
}

p {
    @apply pb-5 text-wrap;
}

ul {
    @apply list-disc pl-10;
}

address {
    @apply not-italic;
}

.btn-outline-light {
    @apply rounded-sm border border-zinc-200 bg-zinc-200/10 p-2 text-zinc-200 hover:bg-zinc-100 hover:text-primary;
}

.btn-news {
    @apply rounded-sm border border-secondary bg-transparent p-2 text-secondary hover:bg-secondary hover:text-zinc-200;
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground outline-hidden;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @apply mb-2 leading-8 font-semibold;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

.text-uppercase {
    @apply uppercase;
}

.hr-blue {
    margin-bottom: 1em;
    border: 0;
    width: 55px;
    border-bottom: 7px solid #1a2857;
}

.hr-blue2 {
    margin-bottom: 2em;
    border: 0;
    width: 55px;
    border-bottom: 7px solid #4579bd;
}


.highcharts-title {
    @apply !text-center !font-medium !text-gray-200 !leading-8 !font-sans;

}
