@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import "@glidejs/glide/dist/css/glide.core.css";
@import "@glidejs/glide/dist/css/glide.theme.css";


@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';


@custom-variant dark (&:where(.dark, .dark *));


/*@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));*/

/*@theme {*/
/*    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/

/*    --color-zinc-50: #fafafa;*/
/*    --color-zinc-100: #f5f5f5;*/
/*    --color-zinc-200: #e5e5e5;*/
/*    --color-zinc-300: #d4d4d4;*/
/*    --color-zinc-400: #a3a3a3;*/
/*    --color-zinc-500: #737373;*/
/*    --color-zinc-600: #525252;*/
/*    --color-zinc-700: #404040;*/
/*    --color-zinc-800: #262626;*/
/*    --color-zinc-900: #171717;*/
/*    --color-zinc-950: #0a0a0a;*/

/*    --color-accent: var(--color-neutral-800);*/
/*    --color-accent-content: var(--color-neutral-800);*/
/*    --color-accent-foreground: var(--color-white);*/
/*}*/

/*@layer theme {*/
/*    .dark {*/
/*        --color-accent: var(--color-white);*/
/*        --color-accent-content: var(--color-white);*/
/*        --color-accent-foreground: var(--color-neutral-800);*/
/*    }*/
/*}*/

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}


@theme {
    --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: var(--color-gray-50);
    --color-zinc-100: var(--color-gray-100);
    --color-zinc-200: var(--color-gray-200);
    --color-zinc-300: var(--color-gray-300);
    --color-zinc-400: var(--color-gray-400);
    --color-zinc-500: var(--color-gray-500);
    --color-zinc-600: var(--color-gray-600);
    --color-zinc-700: var(--color-gray-700);
    --color-zinc-800: var(--color-gray-800);
    --color-zinc-900: var(--color-gray-900);
    --color-zinc-950: var(--color-gray-950);
}
@theme {
    --color-accent: var(--color-blue-950);
    --color-accent-content: var(--color-blue-800);
    --color-accent-foreground: var(--color-white);
}
@layer theme {
    .dark {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-400);
        --color-accent-foreground: var(--color-white);
    }
}





[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}
.text-uppercase{
    @apply uppercase;
}
.hr-blue {
    margin-bottom: 2em;
    border: 0;
    width: 55px;
    border-bottom: 7px solid #1a2857;
}

.hr-blue2 {
    margin-bottom: 2em;
    border: 0;
    width: 55px;
    border-bottom: 7px solid #4579bd;
}
